<div>
   <a href="/dashboard/new-blog">New Blog</a>
</div>
<ol>
   {{#each posts}}
   <li>
      <h3>{{this.title}}</h3>
      <p>
         {{this.content}}
      </p>
      <div>
         Posted on {{this.created_at}} | <a href='/posts/{{this.id}}'>{{this.comments.length}} comment(s)</a>
      </div>
   </li>
   {{/each}}
</ol>

