<ol>
   {{#each posts}}
   <li class="post">
      <h3 class="post-title"><a href='/posts/{{this.id}}'>{{this.title}}</a></h3>
      <div class="meta">
         posted by <span>{{this.user.username}}</span> on {{this.created_at}} with <a href='/posts/{{this.id}}'>{{this.comments.length}} comment(s)</a>
      </div>
   </li>
   {{/each}}
</ol>
