
<div>
   <h3>{{title}}</h3>
   <p>
      {{content}}
   </p>
   <div>
      posted by {{user.username}} on {{created_at}}
   </div>
   <ul>
      {{#each comments}}
      <li>
         {{this.comment_text}}
      </li>
      {{/each}}
   </ul>
</div>

<section>
   <form class="comment-form">
      <div>
         <label for="comment-input">Leave a Comment:</label>
      </div>
      <div>
         <textarea name="comment-input" id="comment-input" cols="40" rows="4"></textarea>
      </div>
      <button type="submit">Post Comment</button>
   </form>
</section>

