<div>
   <article class="post sp-post-wrapper">
      <h3 class="sp sp-title">{{post.title}}</h3>
      <p class="sp sp-content">
      {{post.content}}
   </p>
   </article>

   <div class="sp meta">
      Posted by <span>{{post.user.username}}</span> on {{format_date post.created_at}}
   </div>
   
   <h4 class="comments-title">Comments:</h4>

   <ul class="comments-group">
      {{#each post.comments}}
      <li class="comment">
         {{this.comment_text}} 
         <div class="meta">
            --Posted by {{this.user.username}} on {{format_date this.created_at}}
         </div>
      </li>
      {{/each}}
   </ul>
</div>

{{#if loggedIn}}
<section>
   <form class="comment-form">
      <div>
         <label for="comment-text">Leave a Comment:</label>
      </div>
      <div>
         <textarea name="comment-text" id="comment-text" cols="40" rows="4"></textarea>
      </div>
      <button class="submit-btn" type="submit">Post Comment</button>
   </form>
</section>
<script src="/javascript/comment.js"></script>
{{/if}}
