<div>
   <h3>{{title}}</h3>
   <p>
      {{content}}
   </p>
   <div>
      posted by {{user.username}} on {{created_at}}
   </div>
   
   <h4>Comments:</h4>

   <ul>
      {{#each comments}}
      <li>
         {{this.comment_text}} --Posted by {{this.user.username}} on {{this.created_at}}
      </li>
      {{/each}}
   </ul>
</div>

{{#if loggedIn}}
<section>
   <form class="comment-form">
      <div>
         <label for="comment-text">Leave a Comment:</label>
      </div>
      <div>
         <textarea name="comment-text" id="comment-text" cols="40" rows="4"></textarea>
      </div>
      <button type="submit">Post Comment</button>
   </form>
</section>
<script src="/javascript/comment.js"></script>
{{/if}}
